<!DOCTYPE html>
<html>
<head>
  <title>个人简历</title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
</head>
<body>
<div class="main">
  <div class="subPagesBox">
    <div class="subPages" id="subPages">
      <div class="subPage1 subPage" id="subPage1">
        <div class="subPage1-Header">Resume</div>
        <div class="subPage1-Name">Zhang Qi</div>
        <div class="subPage1-Title">Front End Engineer</div>
      </div>
      <div class="subPage2 subPage" id="subPage2">
        <div class="subPage2-Decorate1"></div>
        <div class="subPage2-Decorate2"></div>
        <div class="subPage2-Decorate3"></div>
        <div class="subPage2-Decorate4"></div>
        <div class="subPage2-Content1-Box">
          <div class="subPage2-Content1">
            <div class="subPage2-Content1-Left">
              <div  class="subPage2-Content1-photo"></div>
            </div>
            <div class="subPage2-Content1-Right">
              <div class="subPage2-Content1-Right-Line1"><span>章&nbsp;琪</span><span>前端开发</span></div>
              <div class="subPage2-Content1-Right-Line2"><span>华东师范大学</span><span>软件工程</span><span>大三</span></div>
              <div class="subPage2-Content1-Right-Line3"><div class="subPage2-Content1-Icon1-skill"></div><div class="subPage2-Content1-Info1-skill">html5、css3、es5、angular.js、less、git、jQuery、j2ee、ajax</div></div>
              <div class="subPage2-Content1-Right-Line4"><div class="subPage2-Content1-Icon2-git"></div><div class="subPage2-Content1-Info2-git">https://github.com/sumAlbert</div></div>
              <div class="subPage2-Content1-Right-Line5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mainHidden"></div>
</body>
<script src="/javascripts/index.js"></script>
</html>
